RewriteEngine On

# Forçar HTTPS/SSL
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Permissões
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Redirecionamento/URL amigável
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
